{{- if (index . "udiaas") }}
{{- if (index . "udiaas" "keycloak") }}
CREATE DATABASE {{ .udiaas.keycloak.database | quote }};
{{- end}}
{{- end}}

{{- if (index . "udiaas") }}
{{- if (index . "udiaas" "zitadel") }}
CREATE DATABASE {{ .udiaas.zitadel.database | quote }};
{{- end}}
{{- end}}
