#---------------------------------------------------------------------------------
# If you need a variable to help isolate machine- or user-specific and secrets
# configuration first review https://www.chezmoi.io/reference/templates/variables/
# and then, if an existing variable will not work, add a new [data.*] variable.
# All variables defined in the [data] section will be available as `.x.y.z` in
# chezmoi *.tmpl. In the CLI you can run `chezmoi data` to see what's available.
#---------------------------------------------------------------------------------
# If there are variables needed that are not machine-specific or user-specific
# then define those using `.chezmoidata.$FORMAT` strategy (see chezmoi docs).
#---------------------------------------------------------------------------------
[data]

    # add [data.git.credential.helpers.static.GITHUB] for generating the following in .gitconfig:
    [data.git.credential.helpers.static.GITHUB]
        site = "https://github.com"
        username = "username"
        password = "PERSONAL_ACCESS_TOKEN_VALUE"
        type = "GitHub Personal Access Token"
        expires = "never"

    # add [data.github.user.prime.*] for generating the following in .gitconfig:
    [data.github.user.prime]
        id = 'username'
        pat = 'PERSONAL_ACCESS_TOKEN_VALUE'
        insteadof_in_gitconfig = "yes"

    # add [data.udiaas.postgres.*] for generating udiaas postgres docker environment in .config/docker/docker.env:
    [data.udiaas.postgres]
        user = "postgres"
        password = "UDIAAS_POSTGRES_PASSWORD"
        database = "udiaas"
        port = "5432"

    # add [data.sudo_user.*] for creating the ansible var file
    [data.sudo_user]
        password = "SUDO_USER_PASSWORD"

    # add [data.udiaas.keycloak.*] for generating udiaas keycloak docker environment in .config/docker/docker.env:
    [data.udiaas.keycloak]
        user = "admin"
        password = "UDIAAS_KEYCLOAK_ADMIN_PASSWORD"
        database = "keycloak_udiaas"
        fqdn = "UDIAAS_KEYCLOAK_FQDN"
        port = "8080"

    # add [data.udiaas.postgrest.*] for generating udiaas postgREST docker environment in .config/docker/docker.env:
    [data.udiaas.postgrest]
        port = "3000"

    # add [data.udiaas.postgraphile.*] for generating udiaas postGraphile docker environment in .config/docker/docker.env:
    [data.udiaas.postgraphile]
        port = "5000"
        
